<%= form_for(@user) do |f| %>
    <ul>
    <% @user.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
    </ul>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :email %><br />
      <%= f.text_area :email %>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end %>