<h1><%= @user.name %></h1>
<p><%= @user.email %></p>
<%= link_to "delete", user_path(@user), method: :delete, data: {confirm: "Really delete the User? Are you sure? You might be making a mistake. Consider your options."}
 %> <br>
 <%= link_to "edit", edit_user_path(@user) %><br>

<%= link_to '<< Back to Users List', users_path%>